// Color Variables
$primary-color: #36518e;
$secondary-color: #e6e9f8;
$text-color: #424241;
$text-color-dark: #000;
$text-color-light: #dfe2f1;
$body-color: #e6e9f8;
$border-color: #c7c7c7;
$link-color: #28a3ff;
$black: #000;
$white: #fff;
$gray: #eaeaea;
$orange:#e56e2e;
$blue: #28a3ff;
$red: #fe4d57;
$yellow: #fec31d;



// Font Variables
$primary-font: 'Montserrat', sans-serif;
$secondary-font: 'Playfair Display', serif;

//text-weight
$font-weight-bold: 700;
$font-weight-normal: 400;
$font-weight-light: 200;
